/* may combine card and previewCard.css */


.preview-card{
    background-color: #fff;
    max-width: 80%;
    margin: 2em auto;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    text-align: center;
}

.preview-icon {
    width: 50%;
}